<div class="container-one">
  <button standard [class.active]="activeKey == 'up'"><i class="material-icons">keyboard_arrow_up</i></button>
  <div class="container-two">
    <button standard [class.active]="activeKey == 'left'"><i class="material-icons">keyboard_arrow_left</i></button>
    <div class="fake">Imagefake</div>
    <button standard [class.active]="activeKey == 'right'"><i class="material-icons">keyboard_arrow_right</i></button>
  </div>
  <button standard [class.active]="activeKey == 'down'"><i class="material-icons">keyboard_arrow_down</i></button>
</div>