<div class="container">
    <h2></h2>
    <button standard (click)="routeTo('DigitTripleTest')">digitTripleTest</button>
    <button standard (click)="routeTo('HDDA')">HDDA</button>
</div>
<div class="container">
    <h2></h2>
    <button standard (click)="routeTo('CognitionTest')">cognitionTest</button>
    <button standard (click)="routeTo('IQCODE')">IQCODE</button>
</div>
<div class="container">
    <h2></h2>
    <button standard (click)="routeTo('VisionTest')">visionTest</button>
    <button standard (click)="routeTo('VF14')">VF14</button>
</div>
<div class="container marginTop">
    <h2></h2>
    <button standard (click)="routeTo('AudioTestingRealm')">audioTestingRealm</button>
    <button standard (click)="routeTo('Procedure')">Procedure</button>
</div>
<div class="container">
    <h2></h2>
    <button standard (click)="_settings.language = 1">English</button>
    <button standard (click)="_settings.language = 0">German</button>
</div>