<button standard (click)="routeToNtt()">{{_languageService.names.digitTripleTest}}</button>
<button standard (click)="routeToCognitionTest()">{{_languageService.names.cognitionTest}}</button>
<button standard (click)="routeToVisonTest()">{{_languageService.names.visionTest}}</button>
<button standard (click)="routeToQuestionnaire()">{{_languageService.names.questionnaire}}</button>
<button standard (click)="_settings.language = 1">English</button>
<button standard (click)="_settings.language = 0">German</button>