<button standard (click)="routeTo('DigitTripleTest')">{{_languageService.names.digitTripleTest}}</button>
<button standard (click)="routeTo('CognitionTest')">{{_languageService.names.cognitionTest}}</button>
<button standard (click)="routeTo('VisionTest')">{{_languageService.names.visionTest}}</button>
<button standard (click)="routeTo('Questionnaire')">{{_languageService.names.questionnaire}}</button>
<button standard (click)="routeTo('AudioTestingRealm')">{{_languageService.names.audioTestingRealm}}</button>
<button standard (click)="_settings.language = 1">English</button>
<button standard (click)="_settings.language = 0">German</button>