@import "../../../variables";
.top-bar {
  width: 100%;
  background: #2f2f2f;
  display: flex;
  align-items: center;
}

<<<<<<< HEAD
.top-bar{
    background: #2f2f2f;
    display: flex;
    align-items: center;
    font-size: 4vmin;
}

.logo{
    height: 4em;
    margin: 10px 30px;
=======
.logo {
  height: $navbar-font-size;
  margin: $navbar-margin;
}

button {
  display: flex;
  cursor: pointer;
  background-color: transparent;
  color: $main-one-accent-one;
  font-size: calc(#{$navbar-font-size}/2);
  line-height: $navbar-font-size;
  border: none;
  outline: none;
  padding: $navbar-margin;
  >* {
    line-height: $navbar-font-size;
    height: $navbar-font-size;
    min-width: ($navbar-height - 1rem);
  }
  >.flag {
    height: calc(#{$navbar-font-size}/2);
    padding: calc(#{$navbar-font-size}/4) 0 !important;
  }
>>>>>>> origin/new-base
}

button:not([disabled]):active,
button:not([disabled]).active {
  box-shadow: inset 0px 0px 42px 0px $dark !important;
}

button:not([disabled]):hover,
button:not([disabled]).active {
  color: $accent-one;
  box-shadow: inset 0px 0px 10px 0px $dark;
  z-index: 100;
}

.navButtonsContainer {
  display: flex;
  /* flex-direction: column;*/
  align-items: center;
  /* justify-content: center;*/
}

.absoluteRight {
  right: 0px;
  top: 0px;
  position: absolute;
}
