@import "../../../variables";

.top-bar{
    background: #2f2f2f;
    display: flex;
    align-items: center;
    font-size: 4vmin;
}

.logo{
    height: 4em;
    margin: 10px 30px;
}

button{
    display: flex;
    cursor: pointer;
    height: 100%;
    background-color: transparent;
    color: $main-one-accent-one;
    font-weight: 500;
    font-size: 30px;
    border: none;
    outline: none;
}

button:not([disabled]):active, button:not([disabled]).active{
    box-shadow: inset 0px 0px 42px 0px $dark !important;
}

button:not([disabled]):hover, button:not([disabled]).active{
    //background: lightgray;
    color: white;
    box-shadow: inset 0px 0px 10px 0px $dark;
    z-index: 100;
}

.active-route{
    color: $accent-one !important;
}