<div class="description">
  <h2>Vision test</h2>
  <p>The vision test includes a questionnaire and an acuity test.</p>
  <p>In the questionnaire, simply highlight the answer which best describes you.</p>
  <p>For the acuity test, you will first need to set the size of a shown rectangle. You will need any card the size of a bank
    card for this, and please ensure your browser itself does NOT zoom the vision test pages.</p>
  <div class="continue_hint">Press "Start" to begin with the questionnaire.</div>
</div>
