<div class="container">
  <div class="title">{{questionnaire.title}}</div>
  <div class="question-container">
    <snscg-question class="question" [question]="activeQuestion" [progress]="progress" (newSelection)="this.checkContinueDisabled($event)" ></snscg-question>
  </div>
  <div class="bottom">
    <button standard *ngIf="this.showOwnContinueButton" [disabled]="this.continueDisabled" (click)="continue()" class="navigate">
      {{_languageService.questionnaire.continue}}
    </button>
  </div>
</div>