@import "../../../variables";
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  margin: 0 0.8rem;
}

.title {
  text-align: center;
  color: $theme-color-font-accent;
  font-weight: bold;
  line-height: 2.5rem;
  font-size: 2.25rem;
  margin-bottom: 1.6rem;
}

.container>* {
  width: 100%;
}

.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.question {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navigate {
  margin: 0 0.5rem;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom>* {
  flex-grow: 1;
  width: 45%;
}

.bottom button {
  width: 100%;
  line-height: 2.5rem;
  font-size: 2.25rem;
  margin: 0;
  padding: 7px;
}
