.grid{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.grid > *{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.grid > * > *{
    flex-grow: 1;
    width: 30%;
}

.display{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 40px;
}