@import '../../../variables.scss';

.container{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 2.1rem;
    margin-bottom: calc(4.5em + 8px);
    overflow: auto;
}

.continue {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    color: $theme-color-font-accent;
    font-weight: bold;
    background-color: $theme-color-button;    
    font-size: 2.8rem;
    line-height: 4.5rem;
}

.contentWrapper {
    top: 0;
    bottom: 0;
    position: absolute;
    margin-top: $navbar-height;
    overflow: auto;
    width: 100%;
    margin-bottom: calc(1rem + 8px);
  }
  
  snscg-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    line-height: 1rem;
  }
  
