@import "../../../../variables";

.container{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px - #{$navbar-height} - 250px);
}

.grid > *.text, .text{
    font-size: 5em;
    text-align: center;
    padding: 10px 0;
    flex-direction: column;
}

.grid{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.grid > *{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.grid > * > *{
    flex-grow: 1;
    width: 30%;
}

.green{
    background: rgb(0, 255, 76);
}

.red{
    background:rgb(255, 53, 53);
}

.green, .red{
    min-height: 50px;
}

.mute{
    position:  absolute;
    right: 0;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}