<div class="description">
  <div>
    <H1>Welcome to the eChecker</H1>
  </div>
  <div class="center">
    <p>The eChecker can test your hearing, vision and memory. There will be questionnaires and interactive tests. After each
      test, a brief result is shown.</p>
    <p>Note: The memory questionnaire is designed to be filled in by someone who knows you well. Don’t worry if there is not
      somebody available to complete this as we can miss out this part of the test if necessary.</p>

    <H3>Press "Start" to begin!</H3>
  </div>
</div>
