@import "../../../../variables";
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 3.5rem;
  display: flex;
  justify-content: center;
  flex-flow: column;
  >button {
    font-size: 3rem;
    line-height: 3.5rem;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.loader {
  margin: auto;
  border: 16px solid $main-one-accent-two;
  /* Light grey */
  border-top: 16px solid $accent-one;
  /* Blue */
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.intro {
  text-align: center;
  font-size: 2rem;
}

.text {
  font-size: 5rem;
  text-align: center;
  padding: 0.5rem 0;
  flex-direction: column;
}

.miniInstructions {
  font-size: 2.5rem;
  text-align: center;
  padding: 0.5rem 0;
  margin-bottom: 5rem;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: center;
  >button {
    width: 30%;
    >i {
      font-size: 3rem;
      line-height: 3.5rem;
    }
  }
  >.green {
    background: rgb(0, 255, 76);
  }
  >.red {
    background: rgb(255, 53, 53);
  }
}
