<div class="container" [ngSwitch]="this.state">
  <div class="grid">
    <ng-container *ngSwitchCase="0">
      <input placeholder="Name" standard type="text" [(ngModel)]="this.name">
      <button [disabled]="this.name == ''" standard [class.active]="activeKey == 'Enter'" (click)="init()">
                WEITER
            </button>
    </ng-container>
    <ng-container *ngSwitchCase="1">
      <div class="text">
        {{this.activeWord}}
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <snscg-questionnaire [continueSubject]="this.continueQuestionnaireSubject" [questionnaire]="this.questionnaire" (disableContinueChanged)="this.disableContinueQuestionnaire($event)"
        (finished)="this.questionnaireFinnished()"></snscg-questionnaire>
    </ng-container>
    <ng-container *ngSwitchCase="3">
      <div class="text">
        {{activeWord}}
      </div>
      <div>
        <button standard class="red" (click)="this.resultForWord(false)">
                    <i class="material-icons">cancel</i>
                </button>
        <button standard class="green" (click)="this.resultForWord(true)">
                    <i class="material-icons">check</i>
                </button>
      </div>
    </ng-container>
    <button standard *ngIf="this.showOwnContinueBtn" [disabled]="this.continueDisabled" (click)="this.continue()">WEITER</button>
  </div>
</div>
