<div *ngIf="!this.configService.debug" class="containeVisionTest">
  <div class="miniInstuctions" [innerHTML]="this.language.miniInstructions"></div>
  <div class="container-one">
    <div>
      <button [disabled]="this.state !== this.StateRef.WaitingForInput" (click)="this.continue(Direction.top)" standard [class.active]="activeKey == 'up'">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
      </button>
      <div class="container-two">
        <button [disabled]="this.state !== this.StateRef.WaitingForInput" (click)="this.continue(Direction.left)" standard [class.active]="activeKey == 'left'">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
        <canvas height="200" width="200" #canvas></canvas>
        <button [disabled]="this.state !== this.StateRef.WaitingForInput" (click)="this.continue(Direction.right)" standard [class.active]="activeKey == 'right'">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
      </div>
      <button [disabled]="this.state !== this.StateRef.WaitingForInput" (click)="this.continue(Direction.bottom)" standard [class.active]="activeKey == 'down'">
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="this.configService.debug" class="container">
  <div>
    <div class="containeVisionTest">
      <div class="miniInstuctions" [innerHTML]="this.language.miniInstructions"></div>
      <div class="container-one">
        <div>
          <button [disabled]="this.state !== this.StateRef.WaitingForInput" (click)="this.continue(Direction.top)" standard [class.active]="activeKey == 'up'">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </button>
          <div class="container-two">
            <button [disabled]="this.state !== this.StateRef.WaitingForInput" (click)="this.continue(Direction.left)" standard [class.active]="activeKey == 'left'">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            <canvas height="200" width="200" #canvas></canvas>
            <button [disabled]="this.state !== this.StateRef.WaitingForInput" (click)="this.continue(Direction.right)" standard [class.active]="activeKey == 'right'">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
          </div>
          <button [disabled]="this.state !== this.StateRef.WaitingForInput" (click)="this.continue(Direction.bottom)" standard [class.active]="activeKey == 'down'">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
          </button>
        </div>
        <div>
          <button [disabled]="this.state !== this.StateRef.WaitingForInput" (click)="this.wrong()" standard [class.active]="activeKey == '-'">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <button [disabled]="this.state !== this.StateRef.WaitingForInput" (click)="this.right()" standard [class.active]="activeKey == '+'">
            <i class="fa fa-check" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="calibrationCanvas">
      <button (click)="this.changeSize(-10)">
        <i class="fa fa-minus" aria-hidden="true"></i>
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button (click)="this.changeSize(-2)">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <div>
        <canvas height="270" width="430" #CalibrationCanvas>
        </canvas>
        <div *ngIf="this.calCanvas" class="label" [style.fontSize]="(3 + 30 * this.calibrationSize/this.calCanvas.width)+'px'">
          Compare size with
          <br> your bank card
        </div>
      </div>
      <button (click)="this.changeSize(2)">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
      <button (click)="this.changeSize(10)">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div>
      <div>
        distance:
        <input [(ngModel)]="this.distance" type="text">
        <button standard (click)="this.calibratePixelAcuity()">Calibrate</button>
        <div>pixel acuity: {{pixelAcuity}}</div>
        <div>pixel amount: {{pixelAmount}}</div>
      </div>
    </div>
  </div>
  <div>
    <div class="puxels">
      <div>
        <div>
          Puxel NR.
        </div>
        <div>
          Puxel size
        </div>
      </div>
      <div *ngFor="let p of this.testData.puxels; let i = index">
        <div>
          {{i + 1}}
        </div>
        <div>
          {{p}}
        </div>
      </div>
    </div>
    <div *ngIf="this.state != this.StateRef.Finished && testData.activeTrial">
      <p>Direction: {{Direction[testData.activeDirection]}}</p>
      <p>Phase: {{testData.activeTrial.phase}}</p>
      <p>Trial: {{testData.activeTrial.trial}}</p>
      <p>Puxel: {{testData.activeTrial.puxel + 1}} of {{this.testData.puxels.length}}</p>
    </div>
    <div *ngIf="this.state == this.StateRef.Finished">
      <p>FINNISHED</p>
      <p>Threshold: {{this.testData.evaluate()}}</p>
    </div>
  </div>
  <div>
    <div class="row">
      <p>Phase</p>
      <p>Trials done</p>
      <p>Puxel</p>
      <p>Correct</p>
      <p>Answers</p>
    </div>
    <div class="row" *ngFor="let res of this.testData.responses">
      <p>{{res.phase}}</p>
      <p>{{res.trial}}</p>
      <p>{{res.puxel + 1}} of {{this.testData.puxels.length}}</p>
      <p>{{res.correct}}</p>
      <div class="box">
        <div *ngFor="let res1 of res.responses" [style.background]="res1 ? 'green' : 'red'">
        </div>
      </div>
    </div>
  </div>
</div>
