.container-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  >* {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.containeVisionTest{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.miniInstuctions {
  padding-bottom: 3rem;
}

.container {
  margin: auto;
  >* {
    border: 1px black solid;
    padding: 20px;
  }
  display: flex;
  flex-direction: row;
  > :last-child {
    width: 30rem;
  }
}

.calibrationCanvas {
  display: flex;
  >div {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    >canvas {
      border: solid 1px black;
    }
    >.label {
      text-align: center;
      color: rgb(196, 196, 196);
      position: absolute;
    }
  }
}

.puxels {
  display: flex;
  flex-flow: column;
  >*:first-child {
    width: 6rem;
  }
  >* {
    display: flex;
    flex-flow: row;
    >* {
      width: 2rem;
      padding: 0 10px;
      border: solid 1px black;
    }
  }
}

.container-two {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-around;
  p {
    margin: 0.1em 0;
  }
  >* {
    width: 25%;
    padding: 0 1%;
  }
}

.box {
  display: flex;
  >* {
    height: 20px;
    width: 20px;
    margin: 0.1em 0;
    margin-right: 2px;
  }
}
