<div *ngIf="this.page == 0" class="description">
  <H2>Memory test instructions</H2>
  <p>The memory test is next.</p>
  <p>Some speech is played now. Please adjust the volume (if necessary) using the + and – buttons to make the speech clearly
    audible.</p>
  <div class="continue_hint">- Volume display + </div>

  <div class="continue_hint">Press "Continue" when the speech is clearly audible.</div>
</div>

<div *ngIf="this.page == 1" class="description">
  <H2>Memory test instructions</H2>

  <p>
    During the test, you are going to be presented with some words. Try to remember them We will ask you to recall them later.
  </p>
  <div class="continue_hint">Press "Start" to begin the memory test.</div>
</div>
