.container{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.grid{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.grid > *{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.grid > * > *{
    flex-grow: 1;
    width: 30%;
}

.display{
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    height: 75px;
}
.content{
    margin:-50px 0 40px 0;
    font-size: 1.8em;
}
button[standard]{
    min-height: 80px;
}