.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5rem 10rem;
  display: flex;
  flex-flow: column;
  >* {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  >input {
      border-radius: 5px;
      outline: none;
      padding: 0.5rem;
      text-align: center;
  }
}
