<div class="description">
    <h2>Hearing test</h2>
    <p>The hearing test includes a questionnaire and a speech-in-noise test.</p>
    <p>In the questionnaire, simply highlight the answer which best describes you.</p>
    <p>For the speech test, you might need to adjust the volume to make sure that the sound is clearly audible.
        External speakers or headphones might be necessary to yield a sufficient level.
    </p>
    <div class="continue_hint">Press "Start" to begin the questionnaire.</div>
</div>
