/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import "./variables";
html {
  font-size: 2vmin;
  @media (max-height: 780px) and (max-width: 540px) {
    font-size: 3vmin;
  }
  @media (min-height: 750px) and (max-width: 760px) {
    font-size: 2.5vmin;
  }
  @media (min-height: 820px) and (max-width: 760px) {
    font-size: 2vmin;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: $theme-color-font;
}

* {
<<<<<<< HEAD
    font-family: 'Rajdhani', sans-serif;
}
.deselect {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
button[standard]{
    display: flex;
    cursor: pointer;
    padding: 2px;
    margin: 2px;
    background-color: transparent;
    border: 1px solid $main-one-accent-one;
    justify-content:  center;
    font-weight: 500;
    font-size: 30px;
    border-radius: 4px;
    //box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
button[standard]:focus {outline:0;}

input[standard]{
=======
  font-family: 'Lato', sans-serif;
}

button[standard] {
  display: flex;
  cursor: pointer;
  padding: 3px 15px;
  margin: 0.3em 0rem;
  background-color: white;
  border: 1px solid $main-one-accent-one;
  justify-content: center;
  font-weight: 500;
  font-size: 30px;
  border-radius: 4px;
  transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

button[standard]:focus {
  outline: 0;
}

input[standard] {
  text-align: center;
  display: flex;
  padding: 10px;
  margin: 2px;
  background-color: transparent;
  border: 1px solid $main-one-accent-one;
  justify-content: center;
  font-weight: 500;
  font-size: 30px;
  border-radius: 4px; //box-shadow: 0 3px 1px -2px
}

input[standard]:focus {
  outline: 0;
}

button[standard]:not([disabled]):active,
button[standard]:not([disabled]).active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12) !important;
}

button[standard]:not([disabled]):hover,
button[standard]:not([disabled]).active {
  background: #2F2F2F;
  color: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  z-index: 100;
}

button[standard]:disabled:hover,
button[standard]:disabled {
  background-color: transparent;
  cursor: default;
  color: #e2e2e2;
  border-color: #e2e2e2;
}

section {
  display: flex;
  align-content: center;
  align-items: center;
}

.description {
  display: flex;
  flex-flow: column;
  font-size: 1.9rem;
  line-height: 3rem;
  .continue_hint {
    margin-top: 2rem;
    text-align: center;
    color: $theme-color-font-accent;
  }
  .cal_container {
    margin-top: 2rem;
    text-align: center;
    color: $cal-color-font;
  }
  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: $theme-color-font-accent;
>>>>>>> origin/new-base
    text-align: center;
  }
  h2 {
    font-size: 2.4rem;
    font-weight: bold;
    color: $theme-color-font-accent;
    margin-bottom: 0.7rem;
    text-align: center;
  }
  h3 {
    font-size: 2rem;
    color: $theme-color-font-accent;
    margin-bottom: 0.8rem;
    text-align: center;
  }
  ul {
    list-style-type: square;
  }
  p {
    margin-top: 0;
    margin-bottom: 0.9rem;
  }
}
