/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Rajdhani);
@import "./variables";

body{
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Rajdhani', sans-serif;
}
.deselect {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
button[standard]{
    display: flex;
    cursor: pointer;
    padding: 2px;
    margin: 2px;
    background-color: transparent;
    border: 1px solid $main-one-accent-one;
    justify-content:  center;
    font-weight: 500;
    font-size: 30px;
    border-radius: 4px;
    //box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
button[standard]:focus {outline:0;}

input[standard]{
    text-align: center;
    display: flex;
    padding: 10px;
    margin: 2px;
    background-color: transparent;
    border: 1px solid $main-one-accent-one;
    justify-content:  center;
    font-weight: 500;
    font-size: 30px;
    border-radius: 4px;
    //box-shadow: 0 3px 1px -2px
}

input[standard]:focus {outline:0;}

button[standard]:not([disabled]):active, button[standard]:not([disabled]).active{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12) !important;
}

button[standard]:not([disabled]):hover, button[standard]:not([disabled]).active{
    background: #2F2F2F;
    color:white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    z-index: 100;
}
button[standard]:disabled:hover, button[standard]:disabled{background-color: transparent;cursor: default;color: #e2e2e2;border-color: #e2e2e2;}
section{
    display: flex;
    align-content: center;
    align-items: center;
}
#footer{background: #2F2F2F;height: 20px;bottom:0px;border-bottom:1px solid #2F2F2F;position: fixed;text-align: right;color: white;width:100%;}
#footer div{padding: 0 4px;}