<div  *ngIf="this.page == 0" class="description">
  <h2>{{language.firstPage.title}}</h2>
  <p>{{language.firstPage.firstParagraph}}</p>
  <p>{{language.firstPage.secondParagraph}}</p>
  <div class="continue_hint">{{language.firstPage.firstHint}}</div>

  <div class="continue_hint">{{language.firstPage.secondHint}}</div>
</div>

<div *ngIf="this.page == 1" class="description">
  <h2>{{language.secondPage.title}}</h2>
  <p>{{language.secondPage.firstParagraph}}</p>
  <p>{{language.secondPage.secondParagraph}}</p>
  <p>{{language.secondPage.thirdParagraph}}</p>

  <div class="continue_hint">{{language.secondPage.firstHint}}</div>
</div>
